{% extends "base.html" %}

{% block title %}DJ Books - Home{% endblock %}

{% block content %}
    <section id="hero-section">
        <h1>Welcome to DJ Books</h1>
        <div class="book-container">
        </div>
    </section>



    <script>
    async function fetchBooks() {
    const query = 'history'; 
    const apiUrl = `https://www.googleapis.com/books/v1/volumes?q=${query}&maxResults=9`;
    try {
        const response = await fetch(apiUrl);
        const data = await response.json();
        displayBooks(data.items);
    } catch (error) {
        console.error("Error fetching books:", error);
    }
}

function truncateString(str, num) {
    if (str.length <= num) {
        return str;
    }
    return str.slice(0, num) + '...';
}

function displayBooks(books) {
    const booksContainer = document.querySelector('.book-container');
    booksContainer.innerHTML = ''; 

    books.forEach(book => {
        const bookInfo = book.volumeInfo;
        const bookCard = document.createElement('div');
        bookCard.className = 'book-card';
        const title = truncateString(bookInfo.title, 50);
        bookCard.innerHTML = `
            <img src="${bookInfo.imageLinks?.thumbnail || 'https://via.placeholder.com/128x196'}" alt="${title}">
            <div>
                <h5>${title}</h5>
                <p>${bookInfo.authors?.join(', ') || 'Unknown Author'}</p>
                <button>Add to Cart</button>
            </div>
        `;
        booksContainer.appendChild(bookCard);
    });
}

document.addEventListener('DOMContentLoaded', fetchBooks);

    </script>
{% endblock %}
