{% extends 'base.html' %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; margin-top: 30px">
    <form method="post" action="{% url 'login' %}" style="width: 100%; max-width: 320px; margin: auto;">
        {% csrf_token %}
        <div style="margin-bottom: 20px;">
            <input type="text" name="username" id="username" placeholder="Username" required 
                   style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;">
        </div>
        <div style="margin-bottom: 20px;">
            <input type="password" name="password" id="password" placeholder="Password" required 
                   style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
        </div>
        <button type="submit" style="width: 100%; padding: 10px; border-radius: 4px; border: none; color: white; background-color: #004643; cursor: pointer;" 
        onmouseover="this.style.backgroundColor='#00755e'" 
        onmouseout="this.style.backgroundColor='#004643'">Sign In</button>    
    </form>
</div>
{% endblock %}
